// colores que se utilizaran en el sitio
$first-color:#172a3a;
$second-color:#004346;
$third-color:#508991;
$fourth-color:#09bc8a;
$fifth-color:#74b3ce;
$black-color:#000000;
$white-color:#ffffff;

//fuentes
@import url('https://fonts.googleapis.com/css2?family=Roboto+Serif:ital,opsz,wght@0,8..144,100..900;1,8..144,100..900&family=Sour+Gummy:ital,wght@0,100..900;1,100..900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');
$fuente: "ubuntu","Sour Gummy", serif;

$margin-all5: 5px 5px 5px 5px; 